.candy-slider img {
    width: 70% !important;
}
@media screen and (max-width: 768px) {
    .candy-slider img {
        width: 100% !important;
    }
    .slick-list {
        width: 100% !important;
    }
    .candy__title {
        padding-bottom: 9%;
    }
    .candy-bar {
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
    }
    .candy__block {
        margin-top: 5%;
        text-align: center;
    }
  }

@media screen and (max-width: 576px) {
    .candy__title {
        font-size: 40px !important;
    }
}