.pie-size {
    margin-top: 40px;
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    &__span {
        font-size: 48px;
    }
}
.slick-list {
    width: 90%;
    margin: 40px auto;
}