/* import */

@import '../mixins/mixins.scss';

/*nav-bar*/

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.menu-bar {
    background: #b09695;
    padding: 20px 0 20px 0;
}

.hamburger-menu{
    display: none;
    @media screen and (max-width: $laptop) {
        display: block;
    }
}

.menu{
    & ul{
      margin-top: 12px;
    }
    @media screen and (max-width: $laptop) {
          display: none;
    }
    & ul, li{
        display: block;
        padding: 0;
    }
    &__item{
        margin-left: 20px;
        & a{
            @include Comfortaa;
            font-weight: normal;
            color: #ffffff;
            font-size: 18px;
            &:hover{
              text-decoration: none;
              color: #3a0e0e;
              transition: all 0.5s;  
            }
        }
    }    
}

/* hamburger menu */

  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;  
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -5px;
  }
  .menu__btn > span::after {
    content: '';
    top: 5px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 87px;
    right: -900px;
    width: 300px;
    margin: 12px auto;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(236, 239, 241, 0.85);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index:100;
    @media screen and (max-width: 1000px) {
      right: -800px;
    }
    @media screen and (max-width: 900px) {
      right: -600px;
    }
    @media screen and (max-width: $tablet) {
      height: 100%;
      width:100%;
      right: 100%;
      text-align: center;
  }
    @media screen and (max-width: 575px) {
        height: 100%;
        width:100%;
        right: 100%;
    }
  }
  
  .hamburger-menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .hamburger-menu__item:hover {
    background-color: rgba(124, 163, 141, 0.3);
  }
  
  .hamburger-menu__item a {
    font-family: 'Comfortaa', cursive;
    font-weight: normal;
    color: #7ca38d;
    font-size: 18px;
  }
  
  .hamburger-menu__item a:hover {
    text-decoration: none;
    color: #3a0e0e;
    transition: all 0.5s;
  }

